@charset "UTF-8";
nav {
  background: #fff; }

.right {
  float: right; }

.left {
  float: left; }

.navbar {
  min-height: 40px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-r {
  flex-direction: row; }

.flex-rr {
  flex-direction: row-reverse; }

.flex-c {
  flex-direction: column; }

.flex-cr {
  flex-direction: column-reverse; }

.btn:active,
.btn:focus,
.btn:visited,
.btn:active {
  outline: none;
  box-shadow: none; }

.opacity-0 {
  opacity: 0; }

/* 01 - nav*/
.wx-nav img {
  margin-right: 10px;
  width: 20px;
  height: 16.67px; }

.shadow-only {
  height: 0;
  width: 100%;
  top: 0;
  z-index: 103;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }

.site-header {
  position: fixed;
  top: 0;
  z-index: 1003;
  width: 100%;
  background-color: white;
  -webkit-transition: box-shadow .35s ease-in-out;
  -o-transition: box-shadow .35s ease-in-out;
  transition: box-shadow .35s ease-in-out;
  -webkit-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
  height: 80px;
  margin-bottom: 0; }

.none-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.with-shadow {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(121, 121, 121, 0.1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(121, 121, 121, 0.1);
  box-shadow: 0px 0px 40px 0px rgba(121, 121, 121, 0.1); }
  .with-shadow .submit-btn {
    background: linear-gradient(59deg, #0069ff 0%, #003ce5 100%); }
  .with-shadow .sm-sub-btn a {
    border: 1px solid #0069FF;
    background-color: rgba(0, 105, 255, 0);
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 0.3s, 0.3s;
    -webkit-transition-timing-function: ease-out, ease-out; }
  .with-shadow > div.container .navbar-header {
    background-color: #ffffff !important; }

.navbar-brand {
  height: auto;
  cursor: pointer;
  padding: 25px 0 25px 23px; }

.nav > li > a {
  font-size: 18px;
  line-height: 80px;
  color: #313A5A;
  padding: 0px 27px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: ease-out, ease-out; }
  .nav > li > a .menu-down-icon {
    transition: transform 0.4s;
    display: none; }

.new-face .nav > li > a .menu-down-icon:after {
  border-color: #fff; }

.with-shadow .nav > li > a .menu-down-icon:after {
  border-color: #727681; }

.nav > li > a:hover,
.nav > li > a:active {
  color: #0069FF;
  background-color: #fff; }

.nav > li > a:focus,
.nav > li > a:active,
.nav > li > a:hover {
  outline: none;
  background: none; }

.navbar-right {
  float: left !important;
  margin-left: 124px; }

@media (max-width: 1230px) {
  .navbar-right {
    margin-left: 30px; } }
@media (max-width: 1000px) and (min-width: 768px) {
  .nav li > a {
    padding: 0 15px; } }
.sm-sub-btn {
  text-align: center;
  float: right;
  line-height: 40px;
  /* margin-left: 30px; */
  padding-top: 19px;
  padding-bottom: 19px;
  position: relative; }
  .sm-sub-btn a {
    font-size: 14px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px 2px 10px 2px;
    background: none;
    padding: 0px 28px;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
    -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 0.2s, 0.2s;
    -webkit-transition-timing-function: ease-out, ease-out;
    color: #fff; }

.sm-sub-btn a:focus,
.sm-sub-btn a:hover {
  background-color: #0069ff;
  color: #fff;
  text-decoration: none;
  font-weight: 400; }

.logo {
  height: 30px;
  width: 123px;
  background-size: contain;
  background-image: url("https://chilunyc.com/blog/wp-content/themes/activello/inc/images/gear-logo@2x.png"); }

.navbar-toggle .icon-bar {
  background: #fff; }

.navbar-toggle {
  height: 34px; }

.icon-close-bar {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(https://chilunyc.com/blog/wp-content/themes/activello/inc/images/close-bar@2x.png) no-repeat;
  background-size: 17px 17px;
  margin-left: -35px;
  vertical-align: center; }

.nav-btn-group {
  position: relative; }
  .nav-btn-group .btn-list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1001;
    width: 420px;
    height: 406px;
    box-shadow: 0 2px 16px rgba(5, 16, 31, 0.12);
    border-radius: 4px;
    font-size: 0; }
    .nav-btn-group .btn-list .btn-list-item {
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      height: 100%;
      width: 50%;
      margin: 0;
      padding: 30px;
      background: #fff;
      position: relative; }
      .nav-btn-group .btn-list .btn-list-item .list-title {
        font-weight: 600;
        border-bottom: 1px solid #E6E8ED;
        text-align: left;
        margin-bottom: 24px;
        padding-bottom: 8px;
        color: #666; }
      .nav-btn-group .btn-list .btn-list-item .list-content {
        text-align: left; }
        .nav-btn-group .btn-list .btn-list-item .list-content li {
          margin-bottom: 16px; }
        .nav-btn-group .btn-list .btn-list-item .list-content a {
          color: #666;
          font-size: 14px; }
        .nav-btn-group .btn-list .btn-list-item .list-content .nav-active {
          color: #0069ff;
          font-weight: 600; }
        .nav-btn-group .btn-list .btn-list-item .list-content .new-icon {
          display: inline-block;
          width: 40px;
          height: 16px;
          background: url(https://chilunyc.com/blog/wp-content/themes/activello/inc/images/new-label@2x.png) no-repeat center;
          background-size: 40px 16px;
          vertical-align: middle;
          margin-left: 3px; }
      .nav-btn-group .btn-list .btn-list-item:last-child {
        background: #FAFAFA; }
    .nav-btn-group .btn-list .btn-list-item:nth-child(1):before {
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      background: #FFF;
      position: absolute;
      top: -8px;
      left: 47px;
      z-index: -2;
      border-radius: 4px;
      transform: rotate(45deg);
      box-shadow: 0 2px 16px rgba(5, 16, 31, 0.12); }
    .nav-btn-group .btn-list .btn-list-item:nth-child(1):hover:before {
      background: #fff; }
  .nav-btn-group .btn-list-half {
    width: 150px;
    height: 130px; }
    .nav-btn-group .btn-list-half .btn-list-item-half:nth-child(1) {
      width: 100%; }
      .nav-btn-group .btn-list-half .btn-list-item-half:nth-child(1):before {
        left: 40px; }
  .nav-btn-group:hover .menu-down-icon {
    transform: rotateX(180deg); }
  .nav-btn-group:hover .btn-list {
    display: block; }
    .nav-btn-group:hover .btn-list li a {
      height: auto; }
      .nav-btn-group:hover .btn-list li a:hover {
        color: #0069FF; }

.navbar .navbar-header h1 {
  margin: 0;
  padding: 0; }

.nav .nav-active,
.nav .nav-active a {
  color: #0069ff;
  font-weight: 600; }

.with-shadow .nav > .nav-active > a .menu-down-icon::after {
  border-color: #0069ff; }

header.new-face .nav > li.nav-btn-group:hover {
  border-radius: 2px 2px 0 0; }

header.new-face {
  background-color: white;
  box-shadow: none; }
  header.new-face nav {
    background: transparent; }
  header.new-face .logo {
    background-image: url("https://chilunyc.com/blog/wp-content/themes/activello/inc/images/gear-logo@2x.png");
    width: 123px;
    height: 30px; }

.sm-sub-btn a {
  background: linear-gradient(59deg, #0069ff 0%, #003ce5 100%);
  border: 1px solid #0069FF; }

@media (max-width: 768px) {
  .navbar-right {
    margin-left: 50px; }

  .sm-sub-btn a {
    line-height: 40px; }

  .nav > li > a .menu-down-icon {
    display: inline-block; } }
.nav .nav-btn-group-sm {
  display: none; }
  .nav .nav-btn-group-sm .btn-list-sm li {
    text-align: left;
    padding: 12px 75px; }
    .nav .nav-btn-group-sm .btn-list-sm li a {
      font-size: 14px;
      color: #68768B;
      line-height: 1.5; }
  .nav .nav-btn-group-sm .hangye-has-arrow:after {
    float: right;
    content: '';
    display: inline-block;
    width: 17px;
    height: 9px;
    background: url(https://chilunyc.com/blog/wp-content/themes/activello/inc/images/hangye-arrow@2x.png) no-repeat;
    background-size: 17px 9px;
    margin-top: 30px;
    margin-right: 30px; }
  .nav .nav-btn-group-sm .hangye-open:after {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(180deg); }

@media (max-width: 767px) {
  .site-header {
    height: 48px; }
    .site-header > div.container {
      padding-left: 0;
      padding-right: 0;
      box-shadow: 0 2px 16px rgba(5, 16, 31, 0.12); }
      .site-header > div.container .navbar-header {
        margin-left: 0;
        background: #F5F9FC; }

  .new-face > div.container {
    box-shadow: none; }

  header.site-header .logo {
    height: 48px;
    width: 96px;
    background-size: 96px auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15px; }

  .sm-sub-btn {
    display: none; }

  .navbar-brand {
    padding: 0;
    height: 48px; }

  nav.in,
  nav.collapsing {
    width: 100%; }

  .container > .navbar-collapse {
    margin-left: 0; }

  .nav .nav-btn-group {
    display: none; }

  .icon-close-bar {
    margin-left: 0; }

  .navbar-collapse .nav > li {
    text-align: left;
    padding-left: 5px; }
    .navbar-collapse .nav > li > a {
      font-size: 16px;
      line-height: 70px;
      padding: 0 0 0 5px;
      border-bottom: 1px solid #E0E5E8; }
    .navbar-collapse .nav > li a.no-border {
      border-bottom: 0; }
  .navbar-collapse .nav > li:last-child > a {
    border-bottom: 0; }

  .navbar-toggle {
    height: 48px;
    margin: 0;
    margin-right: 30px;
    padding: 0; }
    .navbar-toggle .icon-bar {
      width: 20px;
      background: #05101F; }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px; }

  .navbar-nav {
    margin: 0;
    padding: 0;
    width: 100%; }

  .nav .nav-btn-group-sm {
    display: block; }
    .nav .nav-btn-group-sm .group-sm-item a {
      padding-left: 10px;
      color: #68768B;
      font-size: 14px;
      line-height: 40px; }
    .nav .nav-btn-group-sm .group-sm-item .nav-active {
      color: #0069ff; }
    .nav .nav-btn-group-sm .group-sm-item > li:last-child {
      border-bottom: 1px solid #E0E5E8; }

  header.new-face .nav > li > a {
    color: #05101F; }

  header > div.container .navbar-collapse {
    background: #fff; } }
.navbar-collapse.in {
  max-height: 500px; }

/*---------nav结束-------------*/
.btn-blur {
  position: relative;
  z-index: 0; }
  .btn-blur .filter-blur {
    width: 238px;
    height: 98px;
    border-radius: 2px 10px 2px 10px;
    position: absolute;
    top: -11px;
    left: -11px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    background: url(https://chilunyc.com/blog/wp-content/themes/activello/inc/images/btn-bg-blur.png) no-repeat center center;
    opacity: 0.6; }

.btn-blur-mid {
  position: relative;
  z-index: 0; }
  .btn-blur-mid .filter-blur {
    width: 158px;
    height: 80px;
    border-radius: 2px 10px 2px 10px;
    position: absolute;
    top: -11px;
    left: -24px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    background: url(https://chilunyc.com/blog/wp-content/themes/activello/inc/images/btn-bg-blur-mid.png) no-repeat center center;
    opacity: 0.6; }

/*# sourceMappingURL=header.css.map */
